<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
        <context:component-scan base-package="com.horo.ioc_04_Bean属性赋值_基本类型属性赋值"/>
        <!-- 必须导入相关配置文件，value才能使用其中的值，因为容器中要先有才行 /-->
        <!-- 引入外部配置文件-->
        <context:property-placeholder location="data.properties" />
</beans>