<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horo.mapper.ArticlesMapper">

    <resultMap id="BaseResultMap" type="com.horo.pojo.Articles">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="article" column="article" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,article
    </sql>
    <insert id="addArticle">
        insert into articles(title,article,user_id,user_name) values (#{title},#{article},#{userId},#{userName})
    </insert>
    <update id="updateArticle">
        update articles set title=#{title},article=#{article} where id=#{id}
    </update>
    <delete id="removeArticle">
        delete from articles where id=#{id}
    </delete>
    <select id="selectMyPage" resultType="com.horo.pojo.Articles">
        select id,title,article,user_id,user_name from articles
    </select>
    <select id="getCreaterId" resultType="java.lang.Integer">
        select user_id from articles where id=#{id};
    </select>
</mapper>
